<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login Page</title>
  </head>
  <body>
    <form>
      <h1>Login Form</h1>
      <div class="container">
        <label>Username : </label>
        <input
          type="text"
          placeholder="Enter Username"
          name="username"
          required
        />
        <label>Password : </label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
        <button type="submit" class="btn" routerLink="home">Login</button>
        <button type="button" class="btn">Cancel</button>
      </div>
    </form>
  </body>
</html>
